{% extends 'base.html' %}


{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit cupiditate quod facilis id ipsa odio iste voluptatum alias minima accusamus qui voluptates deleniti adipisci beatae sequi, fuga nemo, modi quae.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa voluptas saepe maxime aspernatur ad quae a, quibusdam quisquam officia tempore iste ipsam laborum exercitationem deserunt animi praesentium, commodi velit? Ipsa?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit sunt sed dolor magnam tempora. Molestiae rem corporis unde soluta error corrupti culpa maiores, temporibus dolore quo tenetur, explicabo obcaecati! Consequatur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae tenetur nisi fugiat sed enim fugit non unde ipsam aspernatur. Qui ipsa neque in dolor quis eveniet eius quisquam laudantium consequuntur.
        </p>
        <br>
        <div class="text-center">
            <a class="btn btn-dark" href="/signin/">Signin</a>
            <a class="btn btn-secondary" href="/signup/">Signup</a>
        </div>


    </section>
</main>
    
{% endblock content %}
    

